# Windows 资源管理器配置文件
desktop.ini
Thumbs.db

# 依赖与构建产物
node_modules/
dist/
build/
out/
*.tsbuildinfo

# 日志与缓存
*.log
.cache/
.eslintcache

# 环境变量
.env
.env.local
.env.*.local

# 编辑器 / 系统
.vscode/
.idea/
.DS_Store
